version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: vitacoach-db
    platform: linux/arm64 # Optimizado para Apple Silicon (M chips)
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: vitacoach
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: